/* CSS Document */
body {
    font:12px arial;
    color: #222;
    text-align:center;
    padding:35px; }
  
form, p, span {
    margin:0;
    padding:0; }
  
input { font:12px arial; }
  
a {
    color:#0000FF;
    text-decoration:none; }
  
    a:hover { text-decoration:underline; }
  
#wrapper, #loginform {
    float: left;
    margin:0 auto;
    padding-bottom:25px;
    background:#EBF4FB;
    width:504px;
    border:1px solid #ACD8F0; }
  
#loginform { padding-top:18px; }
  
    #loginform p { margin: 5px; }
  
#divChatBox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:270px;
    width:430px;
    border:1px solid #ACD8F0;
    overflow:auto; }
  
#textUserMsg {
    width:395px;
    border:1px solid #ACD8F0; }
  
#submit { width: 60px; }
  
.error { color: #ff0000; }
  
#menu { padding:12.5px 25px 12.5px 25px; }
  
.welcome { float:left; line-height: 38px; font-weight: bold; }
.userIcon {
    vertical-align: middle;
    margin-left: 24px;
    height: 38px;
    width: 38px;
    float: right;
}
  
#pLogin { float:right; }
#pLogout { float:right; }
  
.msgln { margin:0 0 2px 0; border-bottom: 1px beige solid; }

.msgln img { max-width: 100px; max-height: 100px; }

form p { text-align: left; margin: 0 0 10px 30px; font-weight: bold; }
#inputMediaCapture { float: left; margin: 0 0 10px 30px; }